@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

main{
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    background-color: #000;
    width: 400px;
    height: 400px;


    border-radius: 20px;
    padding: 20px;
    
    display: flex;
    flex-direction: column;

    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.295);
}

#screen{
    font-family: "Roboto", sans-serif;
    font-size: 4rem;
    padding: 5px;
    height: 80px;
    
    background-color: #fff;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    border-radius: 8px;
    border: 0;
    outline: 0;
}

#lines_calculator{
    margin-top: 25px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
}


button{
    font-family: "Roboto", sans-serif;
    font-size: 3.5rem;
    width: 60px;
    height: 60px;
    
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: #000;
}


.line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.number{
    background-color: #B8B8B8;
}

.options{
    background-color: #B8B8B8;
}

.operators{
    background-color:#00C2FF;
}

#equality{
    background-color: #FF0000;
}

.pointer{
    background-color: #B8B8B8;
}

/*Hover*/

.number:hover{
    background-color: #8b8b8b;
    color: #fff;
}

.options:hover{
    background-color: #8b8b8b;
    color: #fff;
}

.operators:hover{
    background-color:#0288b1;
    color: #fff;
}

#equality:hover{
    background-color: #b80202;
    color: #fff;
}

.pointer:hover{
    background-color: #8b8b8b;
    color: #fff;
}

@media (max-width: 515px){
    section{
        width: 300px;
        height: 300px;
    }

    button{
        font-size: 2.5rem;
        width: 40px;
        height: 40px;
    }

    #lines_calculator{
        margin-top: 15px;
    }

    #screen{
        font-size: 2.9rem;
    }
}